/* ===================================================================
   *  Quicksand
   *
   * ------------------------------------------------------------------- */
  
   @font-face {
    font-family: "quicksand-bold";
    src: url("../fonts/Quicksand/Quicksand-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
  }
  
  @font-face {
    font-family: "quicksand-light";
    src: url("../fonts/Quicksand/Quicksand-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
  }
  
  @font-face {
    font-family: "quicksand-medium";
    src: url("../fonts/Quicksand/Quicksand-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
  }
  
  @font-face {
    font-family: "quicksand-regular";
    src: url("../fonts/Quicksand/Quicksand-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
  }


  /* ===================================================================
   *  Gugi
   *
   * ------------------------------------------------------------------- */

   @font-face {
    font-family: "gugi";
    src: url("../fonts/Gugi/Gugi-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
  }