@import url(fonts.css);

html {
  font-size: 16px;
}

@media screen and (min-width: 900px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 20px;
  }
}

body {
  background-color: #37474F;
  width: 100%;
  height: 100%;
  font-family: 'quicksand-regular', sans-serif;
}

.logo {
  font-size: 1.5rem;
}

.logo span, .logo:hover {
  font-family: 'gugi', sans-serif;
  color: #E0E0E0;
}

.logo:hover {
  text-decoration: none;
}

.server-running span {
  color: white;
}

.lds-dual-ring {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  border: 4px solid #fff;
  border-color: #309489 transparent #309489 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.wrapper {
  height: calc(100vh - 6rem);
}

.wrapper .btn {
  width: 430px;
  font-family: 'quicksand-medium', sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  border-radius: 10rem;
}

@media only screen and (max-width: 768px) {
  .wrapper .btn {
    width: calc(100% - 3rem);
  }
}

.wrapper .btn-primary {
  color: #37474F;
  background-color: #5ABA8A;
  border-color: #5ABA8A;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.wrapper .btn-primary:hover, .wrapper .btn-primary:focus, .wrapper .btn-primary:active {
  color: #37474F;
  background-color: #3f976b;
  border-color: #3f976b;
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.wrapper .btn-primary:not(:disabled):not(.disabled).active, .wrapper .btn-primary:not(:disabled):not(.disabled):active, .wrapper .show > .btn-primary.dropdown-toggle {
  color: #37474F;
  background-color: #3f976b;
  border-color: #3f976b;
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.wrapper .connected span {
  font-size: 1.2rem;
  color: #A0DD7D;
}

.wrapper .disconnected span {
  font-size: 1.2rem;
  color: #CB6F63;
}

.wrapper .info span {
  font-size: 1.2rem;
  color: white;
}

.wrapper .qr-code {
  background-color: white;
}

.wrapper .qr-code img {
  height: 22rem;
}

.wrapper .list-group {
  overflow-y: scroll;
}

.scrollbar::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #546E7A;
}

.scrollbar::-webkit-scrollbar {
	width: 12px;
	background-color: #37474F;
}

.scrollbar::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #E0E0E0;
}

.wrapper .list-group-item {
  width: 80vw;
  background-color: transparent;
  border-color: #51636D;
}

.wrapper .list-group-item button {
    background-color: transparent;
    border-color: transparent;
}

.wrapper .list-top {
  border-top: none;
}

.wrapper .list-top span {
  text-transform: uppercase;
  color: #E0E0E0;
  font-size: .7rem;
}

.locked {
  color: #6FCF97;
}

.unlocked, .remove-folder {
  color: #CB6F63;
}

.folder-path {
  color: #E0E0E0;
}
.wrapper .go-back {
  color: #E0E0E0;
}

.wrapper .go-back:hover {
  color: #E0E0E0;
  text-decoration: none;
}

.wrapper .go-back span:hover {
  text-decoration: underline;
}

#disconnect {
  background-color: #CB6F63;
  border-color: #CB6F63;
  color: #37474F;
}

#disconnect:hover {
  cursor: pointer;
}

.modal-header {
  border-bottom: none;
  padding-bottom: 0;
}

.modal-title {
  font-family: 'quicksand-bold', sans-serif;
}

.modal-footer {
  border-top: none;
}

.modal-footer button {
  font-family: 'quicksand-medium';
}

.modal-footer .btn-primary {
  background-color: #CB6F63;
  border-color: #CB6F63;
}

.custom-control-label {
  margin-left: 4rem;
}

.custom-control-label:before,
.custom-control-label:after {
  margin-left: -3.5rem;
  width: 1.3rem;
  height: 1.3rem;
}

.custom-control-input ~ .custom-control-label::before {
  border-color: #51636D;
  border-width: 2px;
  background-color: transparent;
}

.custom-control-input:checked ~ .custom-control-label::before {
  border-color: #7D929E;
  border-width: 3px;
  background-color: transparent;
}

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
  border-color: #51636D;
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  color: transparent;
  background-color: transparent;
  border-color: transparent;
}

#share {
  width: 170px;
  font-size: 1rem;
  margin-left: auto;
  margin-right: 10%;
  border-color: #5ABA8A;
  border-width: 2px;
  color: #5ABA8A;
}

#share:hover,
#share:focus,
#share:active {
  background-color: #5ABA8A;
  color: #37474F;
  box-shadow: none;
}