<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="refresh" content="5">
    <title>Homepage</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/main.css">

    <script src="https://kit.fontawesome.com/c9518678ef.js" crossorigin="anonymous"></script>
</head>

<body>

    <div class="d-flex header justify-content-between align-items-center">
        <!-- logo -->
        <a class="d-inline-flex logo align-items-center p-4" href="{{ url_for('home') }}">
            <img class="mr-3 mb-1" src="../static/assets/padlock.svg" alt="">
            <span>Unlocksy</span>
        </a>

        <!-- server running -->
        {% if is_running == True %}
            <div class="d-inline-flex server-running align-items-center p-4">
                <div class="lds-dual-ring mr-2"></div>
                <span>Server is running...</span>
            </div>
        {% endif %}

        <!-- server not running -->
        {% if is_running == False %}
            <div class="d-inline-flex server-running align-items-center p-4">
                <span>Server not running</span>
            </div>
        {% endif %}
    </div>
    
    <div class="d-flex flex-column wrapper align-items-center justify-content-center">

        <span class="device-name ml-3">{{ server_running }}</span>


        <!-- connected -->
        {% if device_name != '' %}
            <div class="d-inline-flex justify-content-center align-items-center connected mb-4">
                <img class="BT-icon" src="../static/assets/BT-green.svg" alt="">
                <span class="device-name ml-3">{{ device_name }}</span>
            </div>
        {% endif %}

        <!-- disconnected -->
        {% if device_name == '' %}
            <div class="d-inline-flex justify-content-center align-items-center disconnected mb-4">
                <img class="BT-icon" src="../static/assets/BT-red.svg" alt="">
                <span class="ml-3">Not connected</span>
            </div>
        {% endif %}

        <!-- buttons -->
        <a class="btn btn-lg btn-primary shadow my-3" href="{{ url_for('manage_devices') }}">Manage devices</a>
        <a class="btn btn-lg btn-primary shadow my-3" href="{{ url_for('qr_code') }}">Read QR code</a>
        <a class="btn btn-lg btn-primary shadow my-3" href="{{ url_for('manage_files') }}">Manage files</a>
    </div>
    
</body>
</html>